{% extends 'base.html' %}
{% load static %}

{% block head %}

    <link rel="stylesheet" href="{% static "sufee-admin-dashboard-master/assets/css/style.css" %}">
{% endblock %}


{% block content %}
    <div class="col-md-12" style="padding: 30px;">
        <h4><span style="color: red">|</span> {{ noticia.get_seccio_display }}</h4>
        <h1>{{ noticia.titular }}
            {% if request.user.username == noticia.autor.username %}
                <a class="btn btn-secondary" style="border-radius: 24px" href="{% url 'editar_noticia' noticia.id %}"><i class="fa fa-edit"></i></a>
            {% endif %}
        </h1>
        <hr>
        <p>
            <strong><a href="{% url 'perfil' noticia.autor.username %}">{{ noticia.autor.first_name }} {{ noticia.autor.last_name }}</a></strong>
            <br>
            {{ noticia.created_at|date:"d-n-Y"}} | Actualitzat el: {{ noticia.updated_at|date:"d-n-Y"}}
        </p>
        <hr>
        <p>{{ noticia.cos_noticia|linebreaks }}</p>

    </div>
{% endblock %}


{% block scripts %}
{% endblock %}