{% extends 'base.html' %}
{% load static %}

{% block head %}

    <link rel="stylesheet" href="{% static "sufee-admin-dashboard-master/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "sufee-admin-dashboard-master/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" %}">

    <link rel="stylesheet" href="{% static "sufee-admin-dashboard-master/assets/css/style.css" %}">
{% endblock %}


{% block content %}

<div id="right-panel" class="right-panel col-sm-12" style="padding-right:0">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Últimes noticies</strong>
            </div>
            <div class="card-body">
                <table id="taula-totes-noticies" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Titular</th>
                            <th>Autor</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for noticia in noticies %}
                        <tr>
                            <td>{{ noticia.titular }}</td>
                            <td>{{ noticia.autor.username }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!-- /#right-panel -->
{% endblock %}


{% block scripts %}
    <script src="{% static "sufee-admin-dashboard-master/vendors/datatables.net/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "sufee-admin-dashboard-master/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "sufee-admin-dashboard-master/vendors/datatables.net-buttons/js/dataTables.buttons.min.js" %}"></script>
    <script src="{% static "sufee-admin-dashboard-master/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js" %}"></script>
    <script src="{% static "sufee-admin-dashboard-master/vendors/jszip/dist/jszip.min.js" %}"></script>
    <script src="{% static "sufee-admin-dashboard-master/vendors/pdfmake/build/pdfmake.min.js" %}"></script>
    <script src="{% static "sufee-admin-dashboard-master/vendors/pdfmake/build/vfs_fonts.js" %}"></script>
    <script src="{% static "sufee-admin-dashboard-master/vendors/datatables.net-buttons/js/buttons.html5.min.js" %}"></script>
    <script src="{% static "sufee-admin-dashboard-master/vendors/datatables.net-buttons/js/buttons.print.min.js" %}"></script>
    <script src="{% static "sufee-admin-dashboard-master/vendors/datatables.net-buttons/js/buttons.colVis.min.js" %}"></script>
    <script src="{% static "sufee-admin-dashboard-master/assets/js/init-scripts/data-table/datatables-init.js" %}"></script>

        <script>
        $(document).ready(function() {
            $('#taula-totes-noticies').DataTable( {
                "language": {
                    "url":"http://cdn.datatables.net/plug-ins/1.10.19/i18n/Catalan.json"
                }
            } );

        } );
        </script>

{% endblock %}